---
version: "2"
configs:
  - name: server_name_1 # Server name id
    local: 
      host: 127.0.0.1 # Local interface for mapping
      port: 8080 # Local port for mapping
    remote:
      host: 1.1.1.1 # Remote host for the mapping to the local host
      port: 11111 # Remote port for the mapping to the local host
    ssh:
      host: 11.11.11.11
      user: user1
      port: 22
      auth:
        # Auth method. Allowed values password | key | key-encrypted | embedKey | embedKey-encrypted. If set *encrypted or password, but password was not set, it will asked.
        method: password 
        password: 1
        key:
          path:
          password: 

